.wrapper-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 100px 0;
}

.width-very-small {
  width: 124px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.width-small {
  width: 187px;
  height: 168px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.width-medium {
  height: 247px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.width-large {
  height: 373px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery {
  width: 1160px;
  margin: 0 auto;
}

.gallery-item {
  width: 378px;
  margin-bottom: 13px;
}

.embedded-gallery {
  width: 378px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.full-size-image {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: 1s;


      &:hover {
        background-color: rgba(15, 1, 1, 0.6);
      }
}

.icon-scale {
  width: 25px;
  height: 25px;
  background-image: url(../img/icon-scale.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-hover:hover .full-size-image {
  display: flex;
}

