.wrapper-services {
  width: 1160px;
  display: flex;
  flex-direction: column;
  gap: 67px;
  margin: 92px 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.wrapper-services-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.services-item {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #DADADA;
  background-color: #F8FCFE;
  padding: 30px 0;
  cursor: pointer;
  color: #717171;


      &.active {
        background-color: $main-color;
        color: white;
        position: relative;


        &::after {
          content: '';
          width: 22px;
          height: 22px;
          background-color: $main-color;
          position: absolute;
          bottom: -22px;
          right: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg) ;
        }
      }


      &:hover {
        border: 1px solid $main-color;
      }
}

.services-content-list {
  list-style: none;
}

.services-content-item {
  width: 100%;
  min-height: 150px;
  display: flex;
  gap: 15px;
}

.services-content-img {
  width: 20%;
  height: 150px;
}

.services-content-text {
  padding: 5px;
  width: 80%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
