.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-name {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  color: #4E4E4E;
  text-align: center;
  position: relative;

      &::after {
        content: '';
        width: 76px;
        height: 1px;
        background-color: $main-color;
        box-shadow: 13px 3px 0px $main-color;
        position: absolute;
        bottom: -26px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
      }
}

.white-color {
  color: white;
}

$color1: #d4fff3;
$color2: #8cffea;
$color3: $main-color;

.loader {
  width: 72px;
  height: 72px;
  display: none;
}
svg {
  width: 100%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
  &.one {
    stroke: $color3;
    animation: load 1.5s infinite;
  }
  &.two {
    stroke: $color2;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  &.three {
    stroke: $color1;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;
  &.one {
    fill: $color1;
    animation-delay: 0s;
  }
  &.two {
    fill: $color2;
    animation-delay: 0.1s;
  }
  &.three {
    fill: $color3;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}

@import "./main/_section-option.scss";
@import "./main/_section-services.scss";
@import "./main/_section-purchase.scss";
@import "./main/_section-work.scss";
@import "./main/_section-news.scss";
@import "./main/_section-about-us.scss";
@import "./main/_gallery-masonry";